.main{
    background-color: cornsilk;
}

.heading{
    padding:10px;
    margin:10px;
    text-align: center;
}

.home{
    /* padding:15px; */
    align-content: center;
    color:blueviolet;
}